In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [66]:
data = pd.read_csv('C:/Projekts/Skillfactory/modul_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1457,tt0397313,40000000,120455994,Eight Below,Paul Walker|Bruce Greenwood|Moon Bloodgood|Jas...,Frank Marshall,"The Most Amazing Story Of Survival, Friendship...","In the Antarctic, after an expedition with Dr....",120,Adventure|Drama|Family,Walt Disney Pictures|Spyglass Entertainment|Ve...,2/17/2006,6.6,2006
536,tt0218922,42000000,35402320,Original Sin,Angelina Jolie|Antonio Banderas|Gregory Itzin|...,Michael Cristofer,This is not a love story - it's a story about ...,A young man is plunged into a life of subterfu...,118,Drama|Thriller|Mystery|Romance,Metro-Goldwyn-Mayer (MGM),8/3/2001,5.8,2001
545,tt0280707,19800000,87754044,Gosford Park,Helen Mirren|Clive Owen|Maggie Smith|Geraldine...,Robert Altman,Tea at four. Dinner at eight. Murder at midnight.,"Multiple storylined drama set in 1932, showing...",137,Drama|Mystery|Thriller,USA Films,11/7/2001,6.6,2001
769,tt1509767,75000000,132274484,The Three Musketeers,Milla Jovovich|Orlando Bloom|Logan Lerman|Ray ...,Paul W.S. Anderson,Every legend has a new beginning.,The hot-headed young D'Artagnan along with thr...,110,Adventure|Action|Thriller|Comedy,Impact Pictures|Studio Babelsberg|Nouvelles Ã‰...,8/31/2011,5.5,2011
725,tt0800369,150000000,444115007,Thor,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Kenneth Branagh,Two worlds. One hero.,"Against his father Odin's will, The Mighty Tho...",115,Adventure|Fantasy|Action,Marvel Studios|Marvel Entertainment,4/21/2011,6.5,2011

In [67]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [68]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data1 = data[['original_title', 'revenue', 'budget', 'release_year', 'production_companies']].copy() # уберем лишние колонки для заданий 1-10, 20
profit = data1.revenue - data1.budget                                        # посчитаем прибыль
data1['profit'] = profit                                                     # добавим столбец прибыли в усеченный датафрейм
data1

,original_title,revenue,budget,release_year,production_companies,profit
0,Jurassic World,1513528810,150000000,2015,Universal Studios|Amblin Entertainment|Legenda...,1363528810
1,Mad Max: Fury Road,378436354,150000000,2015,Village Roadshow Pictures|Kennedy Miller Produ...,228436354
2,Insurgent,295238201,110000000,2015,Summit Entertainment|Mandeville Films|Red Wago...,185238201
3,Star Wars: The Force Awakens,2068178225,200000000,2015,Lucasfilm|Truenorth Productions|Bad Robot,1868178225
4,Furious 7,1506249360,190000000,2015,Universal Pictures|Original Film|Media Rights ...,1316249360
...,...,...,...,...,...,...
1884,X-Men,157299717,75000000,2000,Twentieth Century Fox Film Corporation|Donners...,82299717
1885,The Little Vampire,13555988,22000000,2000,New Line Cinema,-8444012
1886,The Adventures of Rocky & Bullwinkle,35134820,76000000,2000,Universal Pictures|Capella International|KC Me...,-40865180
1887,Hanging Up,36037909,40000000,2000,Laurence Mark Productions|Columbia Pictures Co...,-3962091
1888,The In Crowd,5217498,15000000,2000,Warner Bros. Pictures,-9782502

In [69]:
data3 = data[['original_title', 'release_year', 'genres', 'director', 'cast','revenue', 'budget']].copy() # колонки для заданий 11-17
profit = data3.revenue - data3.budget
data3['profit'] = profit                               # добавляем прибыль

data3.genres = data3.genres.str.split('|')             # преобразовываем колонку с жанрами для заданий, где нужны отдельные жанры
data4 = data3.explode('genres')                        # выводим каждый жанр в отдельную строку
display(data4.head())

data5 = data3.copy()
data5.cast = data5.cast.str.split('|')                 # преобразовываем колонку с актерами для заданий, где нужны отдельные актреры
data6 = data5.explode('cast')                          # выводим каждого актера в отдельную строку
display(data6.head())

data8= data[['original_title', 'release_year', 'release_date', 'production_companies', 'revenue', 'budget', 'overview']].copy() # для заданий 18-22, 25
data8['profit'] = profit
data8['month'] = pd.DatetimeIndex(data8['release_date']).strftime('%B') # преобразовываем даты в месяцы с помощтью метода .strftime и аргумента %B и добавляем в отдельный столбец
data8.production_companies = data8.production_companies.str.split('|')  # преобразовываем колонку с кинокомпаниями для заданий где нужны отдельные наименования
data9 = data8.explode('production_companies')
display(data9.head())

data16= data[['original_title', 'director', 'vote_average', 'release_date',]].copy() # для заданий 23, 24
data16['month'] = pd.DatetimeIndex(data8['release_date']).strftime('%B')            
display(data16.head())

,original_title,release_year,genres,director,cast,revenue,budget,profit
0,Jurassic World,2015,Action,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,150000000,1363528810
0,Jurassic World,2015,Adventure,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,150000000,1363528810
0,Jurassic World,2015,Science Fiction,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,150000000,1363528810
0,Jurassic World,2015,Thriller,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,150000000,1363528810
1,Mad Max: Fury Road,2015,Action,George Miller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,378436354,150000000,228436354

,original_title,release_year,genres,director,cast,revenue,budget,profit
0,Jurassic World,2015,"[Action, Adventure, Science Fiction, Thriller]",Colin Trevorrow,Chris Pratt,1513528810,150000000,1363528810
0,Jurassic World,2015,"[Action, Adventure, Science Fiction, Thriller]",Colin Trevorrow,Bryce Dallas Howard,1513528810,150000000,1363528810
0,Jurassic World,2015,"[Action, Adventure, Science Fiction, Thriller]",Colin Trevorrow,Irrfan Khan,1513528810,150000000,1363528810
0,Jurassic World,2015,"[Action, Adventure, Science Fiction, Thriller]",Colin Trevorrow,Vincent D'Onofrio,1513528810,150000000,1363528810
0,Jurassic World,2015,"[Action, Adventure, Science Fiction, Thriller]",Colin Trevorrow,Nick Robinson,1513528810,150000000,1363528810

,original_title,release_year,release_date,production_companies,revenue,budget,overview,profit,month
0,Jurassic World,2015,6/9/2015,Universal Studios,1513528810,150000000,Twenty-two years after the events of Jurassic ...,1363528810,June
0,Jurassic World,2015,6/9/2015,Amblin Entertainment,1513528810,150000000,Twenty-two years after the events of Jurassic ...,1363528810,June
0,Jurassic World,2015,6/9/2015,Legendary Pictures,1513528810,150000000,Twenty-two years after the events of Jurassic ...,1363528810,June
0,Jurassic World,2015,6/9/2015,Fuji Television Network,1513528810,150000000,Twenty-two years after the events of Jurassic ...,1363528810,June
0,Jurassic World,2015,6/9/2015,Dentsu,1513528810,150000000,Twenty-two years after the events of Jurassic ...,1363528810,June

,original_title,director,vote_average,release_date,month
0,Jurassic World,Colin Trevorrow,6.5,6/9/2015,June
1,Mad Max: Fury Road,George Miller,7.1,5/13/2015,May
2,Insurgent,Robert Schwentke,6.3,3/18/2015,March
3,Star Wars: The Force Awakens,J.J. Abrams,7.5,12/15/2015,December
4,Furious 7,James Wan,7.3,4/1/2015,April

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [70]:
# в словарь вставляем номер вопроса и ваш ответ на него

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"

In [71]:
data.nlargest(1, 'budget').original_title  # применяем метод сортировки nlargest по колонке бюджет, 
                                           # 1 - количество отображаемых значений в порядке убывания, 
                                           # сортируем по названию фильма

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [72]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

answers['2'] = 'Gods and Generals (tt0279111)' # "+"

In [73]:
data.nlargest(1, 'runtime').original_title # как в примере1, только сортировка по длительности фильма

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [74]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # "+"

In [75]:
data.nsmallest(1, 'runtime').original_title  # как в примере2, только сортировка по наименьшему значению

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [76]:
answers['4'] = '110' #  "+"

In [77]:
round(data.runtime.mean()) # к колонке длительность фильма применен метод подсчета средней и функция округления до целого числа

110

# 5. Каково медианное значение длительности фильмов?

In [78]:
answers['5'] = '107' # "+" соответствет мидиане в describe()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [79]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data1.nlargest(1, 'profit').original_title 

# в преобпазованном датафрейме произведена сортировка по столбцу с прибылью, выведено максимальное значение, 
# которое соответствует столбцу с названием фильма

239    Avatar
Name: original_title, dtype: object

In [80]:
answers['6'] = 'Avatar' # "+"

# 7. Какой фильм самый убыточный?

In [81]:
data1.nsmallest(1, 'profit').original_title # как в примере 6 только сортировка по минимальному значению

1245    The Lone Ranger
Name: original_title, dtype: object

In [82]:
answers['7'] = 'The Lone Ranger' # "+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [83]:
data1[data1.profit > 0].count() 

# если сбор выше бюджета, значит прибыль больше 0; 
#  в измененном дф1 задано условие по прибыльности выше 0 и посчитано количество таких фильмов с помощью метода count

original_title          1478
revenue                 1478
budget                  1478
release_year            1478
production_companies    1478
profit                  1478
dtype: int64

In [84]:
answers['8'] = '1478' # "+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [128]:
data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title 

# в исходном дф столбец с годом выпуска отсортирован по значенияю 2008 год, 
#  полученные данные отфильтрованы по столбцу с максимальным кассовым сбором

599    The Dark Knight
Name: original_title, dtype: object

In [86]:
answers['9'] = 'The Dark Knight' # "+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [87]:
data2 = data1[(data1['release_year'] == 2012) | (data1['release_year'] == 2013) | (data1['release_year'] == 2014)] # произведена группировка измененного дф по нужному периоду
data2.query('profit == profit.min()').original_title   # сгруппированные данные отфильтрованы по минимальну значению столбца прибыль

1245    The Lone Ranger
Name: original_title, dtype: object

In [88]:
answers['10'] = 'The Lone Ranger' # "+"

# 11. Какого жанра фильмов больше всего?

In [129]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data4.groupby('genres').count().sort_values('original_title', ascending = False).nlargest(1, 'original_title').index[0]

# по измененному дф4 (каждый жанр отдельной строкой), произведена группировка по столбцу жанры, посчитано количество 
# фильмов в каждом жанре полученное значение отфильтровано в порядке убывания,
# применен метод nlargest и выведено значение 0 строки, которое соответсвует максимальному

'Drama'

In [90]:
answers['11'] = 'Drama'  # "+"

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [91]:
data4[data4.profit > 0].genres.mode()[0] 

# в измененном дф4 произведена сортировка по столбцу прибыль с условием, что прибыль больше 0, 
# в отсортированных данных найдено модальное значение (а значит чаще всего встречающееся), выведено значение столбца жанры

'Drama'

In [92]:
answers['12'] = 'Drama' # "+"  самый неожиданный для меня результат, я думала экшен или фэнтези

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [93]:
data6.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]

# в изменном дф6 (каждый режисер с новой строки) произведена группировка по столбцу режисер, полученные данные сгрупированы
# по столбцу прибыль, полученные значения прибыли суммированы по каждому режисеру и отсортированы в порядке убывания
# выведено значение 0 строки (а значит максимальное)

'Peter Jackson'

In [94]:
answers['13'] = 'Peter Jackson' # "+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [95]:
data4[data4.genres == 'Action'].director.str.split('|').explode('director').mode()[0]

# в изм дф4 столбец с жанрами отсортирован по жанру экшн, полученная выборка сгруппирована по режиссеру, по каждому режисеру 
# найдено модальное значение, выведено значение 0 строки
#  последовательное изменение дф сначала по жанрам, потом по режисерам выдало ошибочное значение

'Robert Rodriguez'

In [96]:
answers['14'] = 'Robert Rodriguez' # "+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [97]:
data6[data6['release_year'] == 2012].groupby(['cast'])['revenue'].sum().idxmax()

# измененный дф6 отсортирован по столбцу год выпуска по значению 2012, полученные данные сгруппированы
# по актерам, выборка по актерам сгруппирована по слобцу кассовые сборы, полученные значения суммированы по каждому актеру 
# выведено значение столбца актеры с максимальным значением полученной группировки

'Chris Hemsworth'

In [98]:
answers['15'] = 'Chris Hemsworth' # "+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [99]:
data6[data6['budget'] > data6.budget.mean()].cast.mode()

# измененный дф6 отсортирован по столбцу бюджет со зачением бюджет выше среднего, полученные данные сгруппированы
# по столбцу актеры и найдено модальное значение по каждому актеру

0    Matt Damon
dtype: object

In [100]:
answers['16'] = 'Matt Damon'  # "+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [101]:
data4[data4.cast.str.contains("Nicolas Cage")].genres.mode()

# в измененном дф4 применен метод  .contains для поиска значений Nicolas Cage, отсортированные данные
# сгруппированы по столбцу жанры, найдено модальное значение среди групп жанров
#  последовательное изменение дф сначала по жанрам, потом по режисерам выдало ошибочное значение

0    Action
dtype: object

In [102]:
answers['17'] = 'Action' # "+"

# 18. Самый убыточный фильм от Paramount Pictures

In [133]:
data9[data9['production_companies'] == 
      'Paramount Pictures'][['original_title', 'profit']].sort_values('profit').reset_index().loc[0][1]

#  измененный дф9 (каждая кинокомпания в новой строке) отсортирован по столбцу кинокомпания по значению Paramount Pictures
# полученные данные отсортированы по возрастанию по столбцу прибыль, выведено значение столбца название фильма с 
#  минимальным значением

'K-19: The Widowmaker'

In [104]:
answers['18'] = 'K-19: The Widowmaker' # "+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [105]:
data9.groupby(['release_year'])['revenue'].sum().idxmax()

# измененый дф9 сгруппирован по столбцу год релиза, с качестве грруппировочного значения - кассовый сбор, сумма по каждому
#  году, отображен год с максимальным значением суммы с помощью метода idxmax

2015

In [106]:
answers['19'] = '2015' # "+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [135]:
data1[data1.production_companies.str.contains("Warner Bros")].groupby(['release_year'])['profit'].sum().idxmax()

# поскольку в студию Warner Bros входят несколько студий, применять метод explode не представляется возможным
# измененный дф1 (добавлена прибыль) фильтруем по Warner Bros с помощью метода contains, отсортированные данные 
#  группируем по году релиза и суммируем прибыль по каждому году, вывод максимального значения с помощью idxmax()

2014

In [108]:
answers['20'] = '2014' # "+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [109]:
data9.groupby(['month'])['original_title'].count().idxmax()

# измененый дф9 (добален месяц релиза) группируем по месяцам и считаем количество фильмов в каждом месяце
# вывод месяа с максимальным значением с помощью idxmax()

'September'

In [110]:
answers['21'] = 'Сентябрь' # "+"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [139]:
data12 = data16[(data16['month'] == 'June')].original_title.count()
data13 = data16[(data16['month'] == 'July')].original_title.count()
data14 = data16[(data16['month'] == 'August')].original_title.count()
data15 = data12 + data13 + data14
data15

# измененный дф16 (добавлены месяцы) фильтруем по колонке месяц последовательно
# с значениями нужных месяцов и подсчитываем в каждом месяце количество фильмов, итогом будет сумма 3х группировок

450

In [112]:
answers['22'] = '450' # "+"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [113]:
data17 = data16[(data16['month'] == 'December') | (data16['month'] == 'November') | (data16['month'] == 'January')]
data17.groupby(['director'])['original_title'].count().idxmax()

# измененный дф16 группируем по нужным месяцам
# полученные данные группируем по режисеру, в качестве группирующего признака - фильмы, считаем их с помощью count()
# вывод максимального значения с помощью  idxmax()

'Peter Jackson'

In [114]:
answers['23'] = 'Peter Jackson' # "+"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [115]:
data9['title_len'] = data9['original_title'].map(lambda s: len(s))
data9.groupby(['production_companies'])['title_len'].mean().idxmax()

# 1. длину считаем с помощью лямбда функции len, применяем к каждому элементу с помощью метода map к колонке с названием фильма
# 2. добавляем колонку длина названия 
# 3. полученный дф группируем по кинокомпании в качестве группирующего признака средняя длина названия
# вывод максимального значения с помощью idxmax()

'Four By Two Productions'

In [116]:
answers['24'] = 'Four By Two Productions' # "+"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [117]:
data9['overview_len'] = data9['overview'].str.split(' ').str.len()
data9.groupby(['production_companies'])['overview_len'].mean().idxmax()

# к колонке описания применяем метод str.split(' ') для разбивки на отдельные слова str.len для подсчета слов и добавляем
# новую колонку с длиной описания в дф
# полученный дф группируем по кинокомпаниеям в качестве группирующго признака средняя для описания
# вывод максимального значения с помощью idxmax()

'Midnight Picture Show'

In [118]:
answers['25'] = 'Midnight Picture Show' # "+"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [140]:
data16[(data16['vote_average'] > np.percentile(data16['vote_average'],99))].original_title

# 1. с помощью метода percentile отбираем в колонке рейтинг фильмы, которые попадают в 99%
# 2. измененный дф16 группируем по значению, которое превышает 99% рейтинга, в качестве группирующего признака
# назавания фильмов, которые выводятся в ответ

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [120]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [144]:
from itertools import combinations     # импортируем из модуля itertools функцию combinations, которая позволяет из последовательности возвращать комбинации кортежей заданной длины 

couple_actors = Counter()              # устанавливаем подсчет пар актеров (пар - потому что в задании по 2 актера) с помощть встроенной в питон функции -счетчика

for i in range(0,len(data)):           # заводим цикл
    names = data6.cast[i]              # назначаем переменную, в которую будут записаны актеры из колонки актеры
    for j in list(combinations(names, 2)): # заводим цикл где с помощью функции combinations будут искаться пары актеров
        if j not in couple_actors:         # если получившейся пары еще нет среди пар актеров
            couple_actors[j] = 1            # записываем новый кортеж в счетчик с значением 1
        else:
            couple_actors[j] += 1          # если совпадение уже было,  значение выпавшего кортежа +1

couple_actors.most_common(3)              #  с помощью метода most_common(3) выводим 3 самых частых кортежа

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [123]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # "+"

# Submission

In [124]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Daniel Radcliffe & Rupert Grint',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [125]:
# и убедиться что ни чего не пропустил)
len(answers)

27